{% extends 'user/espaceAbonnes.html.twig' %}

{% block title %} Gérer les campus {% endblock %}

{% block main %}

    <h2>Modifier un campus</h2>
    <div class="campus">
    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}

    <button class="btn btn-primary" type="submit">Enregistrer</button>

    {{ form_end(campusForm) }}<br><br>

{% endblock %}