{% extends 'base.html.twig' %}
{% block title %} Gérer les campus {% endblock %}

{% block main %}

    <h2>Ajouter un campus</h2>
    <div class="campus">
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm) }}<br>


    <table>
        <button type="submit">Ajouter</button>

        <tr>
            <th>
            {% for campus in campus %}
                {{ campus.nom }}
            {%  endfor %}

            </th>
        </tr>

    </table>

    <p>Le nom contient :</p>
    <input type="search">

    <button type="submit">Rechercher</button>

    {{ form_end(campusForm) }}<br><br>


{% endblock %}