body
{
    background-color: black;
    text-align: center;


}

.logo
{
    text-align: center;
}

.test
{
    margin: auto;
    text-align: center;
    width: 300px;
    height: 150px;
}

.photo img
{

    width: 250px;
    height: 250px;
    margin-left: 25%;

}

.ensemble-block

{
    display: flex;
    margin-top: 5%;
}

.profil
{
    position: absolute;
    right: 50%;

}
table
{   margin-right: auto;
    margin-left: auto;
    border-collapse: collapse
}
th,td
{
    border : 2px solid white;
   border-color: #FFFFFF;
}
.identification
{
    text-align: right;
}
.campus
{
   text-align: left;
}
.checkbox
{
    text-align: right;
}