@font-face {
    font-family: 'MaSuperPolice';
    src: url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
}

body
{
    text-align: center;
    font-family: Verdana, sans-serif;
}

.logo
{
    text-align: center;
}

table
{
    border-collapse: collapse;
}

th, td
{
    border: 1px solid white;
    padding: 10px;
}

.container
{
    padding-right: 5%;
    padding-left: 5%;
}

.photo
{
    margin-top: 15%;
    padding-top: 15%;
    padding-left: 15%;
}


.campusList
{
    position: absolute;
    right: 40%;
}

.villesList
{
    position: absolute;
    right: 37%;
}

.flash
{
    padding: 30px;
    font-size: 30px;
    color: white;
}

.flash-success
{
    background-color: green;
}

.flash-error
{
    background-color: red;
}



.affichage_sortie

{
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;

}

.centre
{


}

.inscription

{
    margin-left: auto;
    margin-right: auto;
    width: 15px;

}

.testM
{
    margin-left: auto;
    margin-right: auto;



}

.jumbotron {
    margin-top: 5%;
}