{% extends 'user/espaceAbonnes.html.twig' %}

{% block title %} Créer une sortie {% endblock %}

{% block main %}




<div class="container">
<div class="row justify-content-center">

    <div class="col-md-2 col-md-8 col-md-2">
                        <div class="jumbotron"><span class="align-middle"></span>
                              <h1>Créer une sortie</h1>
                            {{ form_start(sortieForm) }}
                            {{ form_widget(sortieForm) }}










                            <button class= "btn btn-primary" type="submit"> Enregister </button>
                            <a href="{{ path('listSorties') }}">
                            <button class= "btn btn-primary" type="submit"> Publier une sortie </button>
                            </a>
                            <button class= "btn btn-primary" type="submit"> Annuler </button><br>


                            {{ form_end(sortieForm) }}<br><br>

                        </div>
    </div>
</div>
</div>






{% endblock %}