{% extends 'user/espaceAbonnes.html.twig' %}

{% block title %} Créer une sortie {% endblock %}

{% block main %}
    <h2>Créer une sortie</h2><br>

    <div class="sortie">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}<br>

        <button class= "btn btn-primary" type="submit"> Enregister </button>
        <button class= "btn btn-primary" type="submit"> Publier une sortie </button>
        <button class= "btn btn-primary" type="submit"> Annuler </button><br>

        {{ form_end(sortieForm) }}<br><br>
    </div>
{% endblock %}