    {% extends 'base.html.twig' %}

    {% block title %} Connexion {% endblock %}

    {% block main %}

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-2 col-md-8 col-md-2">
                <div class="jumbotron"><span class="align-middle"></span>
            <form class="box" method="POST">

                <h1>Connectez-vous !</h1>
                <div class="col-md-4 ml-auto mr-auto">
                <label  for="pseudo">Pseudo :</label>
             <input type="text" name="_username" id="pseudo"><br><br>

                 <label  for="motDePasse">Mot de Passe :</label>
                 <input type="password" name="_password" id="motDePasse"><br><br>
                </div>

            <div id="connexion">
                    <a href={{ path('login') }}>
                    <button class="'btn btn-primary" type="submit">Connexion</button></a>

                <div id="mdp_souvenir">
                    <input type="checkbox" name="rememberme" value="rememberme" id="rememberme">
                    <label for="rememberme" class="choicelabel"> Se souvenir de moi </label><br><br>

                    <a href=""> Mot de passe oublié </a> <br><br>
                </div>

            </div>
         </form>
                </div>
            </div>
        </div>
    {% endblock %}


