{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block main %}
<div class="test">
    {{ form_start(inscriptionForm) }}
    {{ form_widget(inscriptionForm) }}<br>

    <button type="submit" class="btn btn-primary"> Enregister </button><br>
    {{ form_end(inscriptionForm) }}<br><br>
</div>
{% endblock %}